@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{ /*Resetando a pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{/* modificação do body*/
    background-image: url('rosto.jpg');
}

#rodape{ /* modificação no rodapé*/
    font-family: sans-serif;
    color: rgb(238, 234, 234);
    margin-left: 5%;
}

.center{ 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{ /*Aplicando algumas configurações na classe onde fica o cabeçalho */
    padding:20px 0;    
}

.titulo{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: normal;
    font-family: "Noto Serif",sans-serif;
}

.menu{
    width: 70%;
    text-align: right;
    position: absolute;
    right: 50px;
}

.menu a{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 40px;
    transition: 0.4s;
    font-family: "Noto Serif",sans-serif;
}

.menu a:hover{
    color: rgba(11, 24, 31, 0.856)
}

.menu .botaomenu{
    background-color: rgba(19, 57, 182, 0.726);
    display: inline-block;
    padding: 4px 10px;
    color: white;
    border-radius: 4px;
}

.menu .botaomenu:hover{
    background-color: rgb(17, 16, 114);
    color: white;
}

main{ /* modificação bloco do meio */
    border-radius: 4px;
    width: 380px;
    height: 380px;
    margin: 10px 20px 30px 30px;
    background:rgb(6, 240, 209);
    position: absolute;
    bottom: 55px;
    left: 450px;
}

table, th, td { /* modificação na tabela */
    border: 4px solid rgb(57, 8, 236);
    color: rgb(0, 0, 0);
    font-family: "Noto Serif",sans-serif;
}

table{
    position: absolute;
    width: 310px;
    height: 200px;
    bottom: 100px;
    left: 19px;
    font-family: "Noto Serif",sans-serif;
}

img{ /* modificação na imagem */
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 90px;
    left: 40px;
}

.tab{ /* modificação na fonte da tabela */
    font-family: "Noto Serif",sans-serif;
    margin-left: 5%;
    text-align: center;
}
#nimagem{
    font-family: "Noto Serif",sans-serif;
    color: rgb(238, 234, 234);
    margin-left: 5%;
}

aside{ /* modificação no bloco esquerdo */
    border-radius: 4px;
    width: 380px;
    height: 380px;
    margin: 10px 20px 30px 30px;
    background: royalblue;
    position: absolute;
    bottom: 55px;
    left: 1px;
}

#nlista{
    font-family: "Noto Serif",sans-serif;
    color: rgb(238, 234, 234);
    margin-left: 5%;
    text-align: center;
}

#itens{
    font-family: "Noto Serif",sans-serif;
    color: rgb(238, 234, 234);
    margin-left: 5%;
    text-align: center;
    margin-top: 20px;
}

#esquerda{ /* modificação no bloco direito */
    border-radius: 4px;
    width: 380px;
    height: 380px;
    margin: 10px 20px 30px 30px;
    background: linear-gradient(50deg, rgb(2, 221, 203),rgb(23, 8, 224));
    position: absolute;
    bottom: 55px;
    left: 901px;
}
footer{
    background-color: rgb(7, 156, 161);
    height: 85px;
    position: absolute;
    bottom: -20px;
    width: 102%;
    

}

footer p{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
    color: white;
    
}